@keyframes hamburger-line-middle {
    from {
        visibility: visible;
        margin: 7.5px 0;
    }
    to {
        visibility: hidden;
        z-index: -9999;
        margin-left: -100px;
    }
}

@keyframes hamburger-line-top {
    from {
        top: 0%;
        transform: rotate(0deg);
    }
    to {
        top: 50%;
        transform: rotate(-45deg);
    }
}

@keyframes hamburger-line-bottom {
    from {
        top: 100%;
        transform: rotate(0deg);
    }
    to {
        top: 50%;
        transform: rotate(45deg);
    }
}

.logo {
    @include flex($align-items: center);

    &__image {
        height: $logo_dimension;
        width: $logo_dimension;
    }

    &__title {
        text-transform: uppercase;
        font-size: $logo_font_size;
        margin-left: 0.75rem;
    }
}

.navigation {
    height: $navigation-height;
    width: 100vw;

    &__wrapper {
        @include flex($justify: space-between, $align-items: center);
        margin: $navigation-margin-vertical $navigation-margin-horizontal;
    }

    &__hamburger {
        @include flex($direction: column, $wrap: nowrap, $justify: center);
        height: 32px;
        width: 32px;
        overflow: hidden;
        z-index: $navigation-overlay-zindex + 1;

        &__line {
            box-sizing: border-box;
            height: $hamburger-line-size;
            width: $hamburger-line-width;
            background-color: $hamburger-line-color;
            border-radius: $hamburger-line-radius;

            &--top {
                z-index: 10;
            }

            &--middle {
                z-index: 9;
                margin: 7.5px 0;
            }

            &--bottom {
                z-index: 10;
            }
        }
    }

    &__hamburger:hover {
        position: relative;
        .navigation__hamburger__line--middle {
            animation: hamburger-line-middle 0.4s linear 0s 1;
            animation-fill-mode: forwards;
            // transition: display .1s linear, ;
            // display: none;
        }

        .navigation__hamburger__line--top {
            position: absolute;
            animation: hamburger-line-top .2s linear 0s 1;
            animation-fill-mode: forwards;
        }
        
        .navigation__hamburger__line--bottom {
            position: absolute;
            animation: hamburger-line-bottom .2s linear 0s 1;
            animation-fill-mode: forwards;
        }
    }

    &__overlay {
        box-sizing: border-box;
        position: absolute;
        height: calc(100vh - 64px);
        width: 100vw;
        padding: $navigation-overlay-padding-top $navigation-overlay-padding-horizontal;
        z-index: $navigation-overlay-zindex;

        background-color: $background-color-white;
        
        &__links {
            display: block;
            
            li {
                font-size: $navigation-link-font-size;
                font-weight: $font-weight-bold;
                padding: $navigation-overlay-link-padding-vertical 0;
            }
        }

        &__seperator {
            margin: $navigation-overlay-sep-margin-vertical 0;
        }


        &__information {
            padding-top: $navigation-overlay-link-padding-vertical;


            .information-wrapper {
                h2 {
                    color: $subtitle-font-color;
                    font-weight: $font-weight-bold;
                    font-size: $subtitle-font-size-mobile;
                    margin-bottom: 7.5px;
                }

                li {
                    font-weight: $font-weight-medium;
                }

                p, li {
                    padding: 2.5px 0;
                }
            }
            
            .university {
                margin: 20px 0;
            }

        }
    }

    &--desktop {
        display: none;
    }
}

// Tablet
@media screen and (min-width: 1024px) {
    .navigation {

        &__links {
            display: block;
            
            li {
                display: inline;
                font-size: $navigation-link-font-size;
                margin: 0 $navigation-link-margin-horizontal;
            }
        }
        
        &--mobile {
            display: none;
        }
    }
}