.logo {
    @include flex($align-items: center);

    &__image {
        height: $logo_dimension;
        width: $logo_dimension;
    }

    &__title {
        text-transform: uppercase;
        font-size: $logo_font_size;
        margin-left: 0.75rem;
    }
}

.navigation {
    width: 100vw;

    &__wrapper {
        @include flex($justify: space-between, $align-items: center);
        margin: $navigation-margin-vertical $navigation-margin-horizontal;
    }


    &__hamburger {
        @include flex($direction: column, $wrap: nowrap, $justify: space-evenly);
        height: 32px;
        width: 32px;

        &__line {
            box-sizing: border-box;
            height: $hamburger-line-size;
            width: $hamburger-line-width;
            background-color: $hamburger-line-color;
            border-radius: $hamburger-line-radius;
        }
    }

    &--desktop {
        display: none;
    }
}



// Tablet
@media screen and (min-width: 1024px) {
    .navigation {

        &__links li {
            display: inline;
            font-size: $navigation-link-font-size;
            margin: 0 $navigation-link-margin-horizontal;
    
            a:link, a:hover, a:hover, a:active {
                color: $font-color;
                text-decoration: none;
            }
        }
    

        &--mobile {
            display: none;
        }
    }
}