<nav class="navigation">

    <div class="navigation__wrapper">
        <div class="logo">
            <img class="logo__image" src="./images/logo.svg" alt="Trespass Logo">
            <h1 class="logo__title">Trespass</h1>
        </div>
    
        <div class="navigation__hamburger navigation--mobile">
            <div class="navigation__hamburger__line navigation__hamburger__line--top"></div>
            <div class="navigation__hamburger__line navigation__hamburger__line--middle"></div>
            <div class="navigation__hamburger__line navigation__hamburger__line--bottom"></div>
        </div>
    
        <ul class="navigation__links navigation--desktop">
            <li><a href="index.html">Home</a></li>
            <li><a href="api-consumption.html">API Consumption</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about-me.html">About Me</a></li>
        </ul>
    </div>



    <div class="navigation__overlay navigation--mobile">

        <ul class="navigation__overlay__links navigation--mobile">
            <li><a href="index.html">Home</a></li>
            <li><a href="api-consumption.html">API Consumption</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about-me.html">About Me</a></li>
        </ul>

        <hr>

        <section class="navigation__information">

            <h2>Brief Introduction</h2>
            <p>Hoa Binh Dinh</p>
            <p>Studies <span>Computer Science & Software Desing and Engineering</span></p>
    
            <h2>University</h2>
            <p>FH Campus – Vienna 1100</p>
            <p>University of Vienna - Vienna 1010</p>
    
            <h2>Follow me on</h2>
            <ul>
                <li><a href="">Github</a></li>
                <li><a href="">LinkedIn</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </section>
    </div>
</nav> 