.contact {
    position: relative;
    box-sizing: border-box;
    display: block;

    padding: $margin-top-mobile $margin-vertical-mobile;
    min-height: calc(100vh - 64px);
    width: 100%;
    color: $font-color-invert;
    background-color: $background-color-blue;

    h1, h3, h4 {
        text-shadow: $shadow-x-value $shadow-y-value $shadow-blur $shadow-color;
    }

    h1 {
        font-weight: $font-weight-lighter;
    }

    &__title {
        font-size: $title-font-size-mobile;
    }

    &__form {
        width: 100%;
        margin-top: 25px;

        &__name, &__email, &__secret, &__iq {
            width: 100%;
            margin: 25px 0;

            label {
                display: block;
                font-size: $text-font-size-mobile;
            }

            input {
                box-sizing: border-box;
                width: 100%;
                margin: 10px 0 7.5px 0;
                border: none;
                border-bottom: 1px solid $font-color-invert;
                color: $font-color-invert;
                background-color: hsla(0, 0%, 0%, 0);

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: $placeholder-font-color;
                }
            }
        }

        &__iq {
            input[type=number] {
                width: 11ch;
            }
        }
    }

    &__image {
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        width: 500px;
        height: 500px;
        transform: translate(0vw, 20vh);
    }

    &--desktop {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .contact {
        padding: 45px 45px;

        &__title, &__form {
            width:500px;
        }

        &__title {
            font-size: $title-font-size;
        }

        &__form {
            margin-top: 45px;
    
            &__name, &__email, &__secret, &__iq {
                margin: 25px 0;
    
                label {
                    font-size: $text-font-size-mobile;
                }
    
                input {
                    margin: 10px 0 7.5px 0;
    
                    &:focus {
                        outline: none;
                    }
    
                    &::placeholder {
                        color: $placeholder-font-color;
                    }
                }
            }
        }

        &__image {
            display: block;
        }
    }
}

@media screen and (min-width: 1440px) {

    .contact {
        @include flex($justify: center);

        &__title, &__form {
            width: 650px;
        }

        &-wrapper {
            position: relative;
            width: 1024px;
        }

        &__image {
            transform: translate(10vw, 20vh);
        }
    }
}