.welcome {
    box-sizing: border-box;
    position: relative;

    width: 100%;
    min-height: calc(100vh - 64px);
    padding: $margin-top-mobile $margin-horizontal-mobile;
    background-color: $background-color-blue;

    h1, p {
        color: $font-color-invert;
        text-shadow: $shadow-x-value $shadow-y-value $shadow-blur $shadow-color;
    }

    &__title {
        font-size: $title-font-size-mobile;
    }

    &__information {
        font-size: $text-font-size-mobile;
        margin: $margin-vertical-mobile 0;
        line-height: 1.5;
    }

    &__btn {
        @include flex($direction: column, $justify: center, $align-items: flex-start);
        width: $button-width;
        height: $button-height;
        margin: $button-margin-vertical 0;
        padding: 0 10px;
        background-color: $button-color-white;
        border-radius: $button-radius;
        border: 0px;
        box-shadow: $shadow-x-value $shadow-y-value $shadow-blur $shadow-color;

        &__text {
            font-size: $button-font-size-mobile;
        }

        &__description {
            font-size: $button-subtxt-font-size-mobile;
        }
    }

    &__image {
        width: 500px;
        height: 500px;
    }

    &--desktop {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .welcome {
        @include flex($direction: column); 
        min-height: calc(100vh - 64px);
        padding: $margin-top $margin-horizontal $margin-horizontal;

        &__title {
            width: 700px;
            font-size: $title-font-size;

            &--spacing {
                display: inline;
            }
        }

        &__information {
            width: 440px;
            font-size: $subtitle-font-size;
        }

        &__btn {
            width: 200px;
            height: 65px;
            margin: 12.5px 0;

            &__text {
                font-size: $button-font-size;
                margin-bottom: 4px;
            }
    
            &__description {
                font-size: $button-subtxt-font-size;
            }
        }

        &__image {
            position: absolute;
            display: block;
            left: 50%;
            transform: translate(-10vw, 15vh);
        }

    }
}

@media screen and (min-width: 1440px) {
    .welcome {
        align-content: center;

        &__image {
            left: 65%;
        }
    }
}