<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Consumption</title>
</head>
<body>

    <%= htmlWebpackPlugin.options.navigation %>

    <section class="api-consumption">

        <div class="petshop">
            <div class="petshop__head">
                <h1 class="petshop__head__title">Doggo Petshop</h1>
                <h2 class="petshop__head__subtitle">You wanna have one? Then you better grab one!</h2>
            </div>

            <section id="petshop-table" class="petshop__table table">
                <header class="petshop__table__headings table__headings">
                    <div class="table__row"> 
                        <div class="table__row__cell table__row__cell__breed">Breed of Dog</div>
                        <div class="table__row__cell table__row__cell__description desktop-only">Description</div>
                        <div class="table__row__cell table__row__cell__action">Action</div>
                    </div>
                </header>
                <div id="petshop-table-data" class="petshop__table__data table__data">
                    <!-- <div class="table__row">
                        <div class="table__row__cell table__row__cell__breed">Pointer Germanlonghair</div>
                        <div class="table__row__cell table__row__cell__description desktop-only">One of the goodest bois</div>
                        <div class="table__row__cell table__row__cell__action"><button class="button button-small button--white">Grab</button></div>
                    </div> -->
                </div>
            </section>

            <section id="backpack-table" class="backpack__table table table--closed">
                <header class="table__headings backpack__table__headings">
                    <div class="table__row backpack__table__row"> 
                        <div class="table__row__cell table__row__cell__breed">Breed of Dog</div>
                        <div class="table__row__cell table__row__cell__description desktop-only">Description</div>
                        <div class="table__row__cell table__row__cell__amount">Amount</div>
                        <div class="table__row__cell table__row__cell__action">Action</div>
                    </div>
                </header>
                <div id="backpack-table-data" class="backpack__table__data table__data">
                    <!-- <div class="table__row">
                        <div class="table__row__cell table__row__cell__breed">Pointer Germanlonghair</div>
                        <div class="table__row__cell table__row__cell__description desktop-only">One of the goodest bois</div>
                        <div class="table__row__cell table__row__cell__amount">One of the goodest bois</div>
                        <div class="table__row__cell table__row__cell__action"><button class="button button-small button--red">Grab</button></div>
                    </div> -->
                </div>
            </section>
            
            <div class="petshop__buttons">
                <button id="openBackpack-btn" class="button button--medium button--blue">Open Backpack</button>
                <button id="returnPetshop-btn" class="button button--medium button--blue button--closed">Return to Petshop</button>
                <button id="takeHome-btn" class="button button--medium button--green button--closed">Take Home</button>
            </div>
        </div>
    </section>


    <% for (const script of htmlWebpackPlugin.options.scripts) { %> <script defer src="./<%= script %>"></script> <% } %>
</body>
</html>