<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>

    <%= htmlWebpackPlugin.options.navigation %>

    <div class="contact">
        <h1 class="contact__title">Lets make a deal ...  <span class="bold"><span class="about-me--spacing about-me--desktop">&nbsp; <br></span>Send me a message</span></h1>
        <form class="contact__form" action="">
            <div class="contact__form__name">
                <label for="name">Name <span class="required"/></label>
                <input type="text" placeholder="Your Name" name="name" id="input-name">
                <h4 id="warning-name" class="warning warning--closed">Invalid Name: A name only consists of letters!</h4>
            </div>
            <div class="contact__form__email">
                <label for="email">Email <span class="required"/></label>
                <input type="email" placeholder="your@email.com" name="email" id="input-email">
                <h4 id="warning-email" class="warning warning--closed">Invalid Email!</h4>
            </div>
            <div class="contact__form__secret">
                <label for="secret">Secret Message <span class="required"/></label>
                <input type="password" placeholder="Business plan you want to share" name="secret" id="input-secret">
                <h4 id="warning-secret" class="warning warning--closed">This message should have at least 10 letters!</h4>
            </div>
            <div class="contact__form__iq">
                <label for="iq">How much IQ do you have? <span class="required"/></label>
                <input type="number" placeholder="At least 1" name="iq" id="input-iq">
                <h4 id="warning-iq" class="warning warning--closed">Sorry but your IQ is too low. At least 150!</h4>
            </div>
        </form>
        <div id="send-button" class="button button--white button--medium">Send Message</div>
    </div>

    <% for (const script of htmlWebpackPlugin.options.scripts) { %> <script defer src="./<%= script %>"></script> <% } %>
</body>
</html>