// General
$font-size: 14px;
$font-family: "Roboto", sans-serif;
$font-style: normal;
$font-weight-medium: 500;
$font-weight-lighter: lighter;
$font-color: hsl(0, 0, 31);
$font-color-invert: hsl(0, 0, 95);

$margin-horizontal: 30px;
$margin-horizontal-mobile: 45px;
$margin-top: 25px;
$margin-top-mobile: 50px;

$background-color-blue: hsl(214, 53, 53);
$background-color-white: hsl(0, 0, 97);
$shadow-color: hsla(0, 0, 0, .25);

$shadow-x-value: 2px;
$shadow-y-value: 4px;

$logo_dimension: 42px;
$logo_font_size: 1.75rem;

// Title
$title-font-size: 2.85rem;
$title-font-size-mobile: 2.15rem;
$subtitle-font-size: 1.55rem;
$subtitle-font-size-mobile: 1.25rem;

$subtitle-font-color: hsl(0, 1, 71);
$subtitle-font-color-invert: hsl(8, 81, 60);

// Navigation
$navigation-height: 64px;
$navigation-link-font-size: 1.25rem;
$navigation-margin-vertical: 11px;
$navigation-margin-horizontal: 20px;
$navigation-link-margin-horizontal: 8px;

$navigation-link-font-size-mobile: 1.25rem;
$navigation-margin-vertical-mobile: 11px;
$navigation-margin-horizontal-mobile: 20px;
$navigation-menu-margin-top-mobile: 65px;
$navigation-menu-margin-bottom-mobile: 50px;

$navigation-overlay-zindex: 1000;

$hamburger-line-size: 3px;
$hamburger-line-radius: 5px;
$hamburger-line-color: $font-color;
$hamburger-line-width: 32px;
$hamburger-line-margin-vertical: 5px;

// Button
$button-font-size: 1.25rem;
$button-font-size-mobile: 1rem;
$button-text-margin: 14px;
$button-margin-mobile: 10px;

$button-color-blue: hsl(214, 53, 53);
$button-color-green: hsl(94, 38, 53);
$button-color-red: hsl(0, 93, 73);
$button-color-white: hsl(0, 0, 99);