// General
$font-size: 14px;
$font-family: "Roboto", sans-serif;
$font-style: normal;
$font-color: hsl(0, 0, 31);
$font-color-invert: hsl(0, 0, 95);

$margin-horizontal: 30px;
$margin-horizontal-mobile: 45px;
$margin-top: 25px;
$margin-top-mobile: 50px;

$background-color-blue: hsl(214, 53, 53);
$background-color-white: hsl(0, 0, 97);
$shadow-color: hsl(0, 0, 0, 0.25);

// Title
$title-font-size: 2.85rem;
$title-font-size-mobile: 2.15rem;
$subtitle-font-size: 1.55rem;
$subtitle-font-size-mobile: 1.25rem;

$subtitle-font-color: hsl(0, 1, 71);
$subtitle-font-color-invert: hsl(8, 81, 60);

// Navigation
$navigation-font-size: 1.25rem;
$navigation-font-size-mobile: 1.25rem;
$navigation-margin-horizontal: 20px;
$navigation-margin-top: 65px;
$navigation-margin-bottom: 50px;

// Button
$button-font-size: 1.25rem;
$button-font-size-mobile: 1rem;
$button-text-margin: 14px;
$button-margin-mobile: 10px;



$button-color-blue: hsl(214, 53, 53);
$button-color-green: hsl(94, 38, 53);
$button-color-red: hsl(0, 93, 73);
$button-color-white: hsl(0, 0, 99);