<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>

    <%= htmlWebpackPlugin.options.navigation %>
    
    <section class="welcome">
        <h1><span>Trespass</span> is <span>a simple web engineering project fueled by rice 🍙</span></h1>

        <p><span>Trespass</span> was built with HTML5, TypeScript & SCSS. Additionally, the source files were bundled via Webpack & a CICD pipeline was set. This website does not have much functionality. However, you can try it out and have fun.</p>

        <button class="welcome__btn">
            <h3 class="welcome__btn__text"> API Consumption</h3>
            <h4 class="welcome__btn__description">Render API data in HTML</h4>
        </button>

        <button class="welcome__btn">
            <h3 class="welcome__btn__text">Contact Forms</h3>
            <h4 class="welcome__btn__description">Send me a message</h4>
        </button>
    </section>
    <% for (const script of htmlWebpackPlugin.options.scripts) { %> <script defer src="./<%= script %>"></script> <% } %>
</body>
</html>