@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
footer, header, section, summary {
    line-height: 1.25;
}


html {
    font-size: $default-font-size;
    font-family: $font-family;
    color: $font-color;
}


.light {
    font-weight: $font-weight-lighter;
}

.medium {
    font-weight: $font-weight-medium;
}

.bold {
    font-weight: $font-weight-bold;
}

.uppercase {
    text-transform: uppercase;
}

.spacing {
    display: inline;
}

.required {
    &::after {
        content: "*";
        color: $button-color-red;
    }
}

.warning {
    color: $button-color-red;
}