html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
footer, header, section, summary {
    line-height: 1.25;
}


html {
    font-size: $font-size;
    font-family: $font-family;
    color: $font-color;
}



.bold {
    font-weight: $font-weight-bold;
}

